/* GENERAL */
html, body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#map {
	width:100%;
	height:100%;
}

.maplibregl-popup-tip, .mapboxgl-popup-tip {
	display: none;
}



/* FUENTES */
@font-face {
	font-family: 'cormorant';
	src: url('../resources/fonts/OTF/Cormorant-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'cormorant';
	src: url('../resources/fonts/OTF/Cormorant-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'cormorant';
	src: url('../resources/fonts/OTF/Cormorant-Italic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'cormorant';
	src: url('../resources/fonts/OTF/Cormorant-BoldItalic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'cormorant-up';
	src: url('../resources/fonts/OTF/CormorantUpright-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'cormorant-up';
	src: url('../resources/fonts/OTF/CormorantUpright-Light.otf') format('opentype');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'cormorant-up';
	src: url('../resources/fonts/OTF/CormorantUpright-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}



/* TEXTO */

/* Links */
a {
	outline: 0;
}

a:link {
	transition: color .2s linear;
	color: #241d15;
	text-decoration: none;
}

a:visited {
	color: #241d15;
	text-decoration: none;
}

a:hover {
	color: #241d15;
	text-decoration: underline;
}



/* INDEX */

/* Botón Centrar */
#home_button {
	position: fixed;
	top: 5%;
	right: 2.5%;
	background: #f4f2f2;
	border: double #241d15;
	font-family: cormorant-up;
	font-size: 1em;
	padding: 5px;
}

#home_button:hover {
	cursor: pointer;
	border: solid;
}


/* Popups */
.index_popup {
	border: double #241d15;
}

.index_popup > .maplibregl-popup-content,
.index_popup > .mapboxgl-popup-content {
	padding: 20px;
	border-radius: 0;
	box-shadow: none;
	color: #241d15;
	text-align: center;
}

.main {
	font-family: cormorant-up;
	font-size: 2em;
}

.sub {
	font-family: cormorant-up;
	font-size: 1em;
}

.bg_white > .maplibregl-popup-content,
.bg_white > .mapboxgl-popup-content {
	background: #f4f2f2;
}

.bg_red > .maplibregl-popup-content,
.bg_red > .mapboxgl-popup-content {
	background: #d4978b;
}

.bg_blue > .maplibregl-popup-content,
.bg_blue > .mapboxgl-popup-content {
	background: #92a9a4;
}

.bg_yellow > .maplibregl-popup-content,
.bg_yellow > .mapboxgl-popup-content {
	background: #f2dea0;
}

.bg_green > .maplibregl-popup-content,
.bg_green > .mapboxgl-popup-content {
	background: #98a280;
}