@import "fonts.css";

/* GLOBAL COLORS AND BORDERS */
:root {
	--black: #241d15;
	--gray1: #484848;
	--white1: #f2efe5;
	--white2: #f2f0ea;
	--red1: #d4978b;
	--blue1: #92a9a4;
	--yellow1: #f2dea0;
	--green1: #98a280;
	--transparent: rbga(0,0,0,0);
	--bd_double: thick double var(--black);
	--bd_doubleSimple: double var(--black);
	--bd_solid: thick solid var(--black);
}


/* MAIN CONTAINER */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: var(--white1);
}


/* BOX SIZE */
* {
	box-sizing: border-box;
}


/* DIALOGS */
dialog {
	max-width: 700px;
	border: var(--bd_doubleSimple);
	background: var(--white1);
	font-size: 1.3em;
}

dialog h2 {
	margin: 0;
}


/* WIDTH & HEIGHT */
.w100vw {
	width: 100vw;
}

.h100vh {
	height: 100vh;
}

.h100 {
	height: 100%;
}


/* MARGIN & PADDING */
.izq {
	padding: 0 60px 0 0;
	overflow: scroll;
	scroll-behavior: smooth;
}

.der {
	padding: 0 60px;
	overflow: scroll;
	scroll-behavior: smooth;
}

.padTop30px {
	padding-top: 30px;
}


/* TEXT ALIGN */
.t_center {
	text-align: center;
}


/* LINKS */
a {
	outline: 0;
}

a:link {
	transition: color .2s linear;
	color: var(--gray1);
	text-decoration: none;
}

a:visited {
	color: var(--gray1);
	text-decoration: none;
}

a:hover {
	color: var(--black);
	text-decoration: underline;
}


/* INPUTS */
fieldset {
	border: none;
	padding: 0;
}

legend {
	font-size: 1.4em;
}

select {
	background: var(--white1);
	border: solid 1px var(--black);
	padding: 20px;
	width: 100%;
	font-size: 1em;
}

button {
	padding: 10px 15px;
	color: var(--black);
	background: var(--white1);
	border: solid 1px;
	font-size: 1em;
	cursor: pointer;
	transition: background .1s linear;
}

button:hover {
	color: var(--white1);
	background: var(--black);
}


/* GRID */
.d_grid {
	display: grid;
}

.grid_oneCol {
	grid-template-columns: 1fr;
}

.grid_twoCol_1-1 {
	grid-template-columns: repeat(2, 1fr);
}

.grid_twoCol_1-3 {
	grid-template-columns: 1fr 3fr;
}

.grid_twoCol_2-3 {
	grid-template-columns: 2fr 3fr;
}

.grid_twoCol_3-2 {
	grid-template-columns: 3fr 2fr;
}

.grid_threeCol_1 {
	grid-template-columns: repeat(3, 1fr);
}

.grid_gap_0 {
	gap: 0;
}

.grid_gap_60px {
	gap: 60px;
}

.grid_gap_120px {
	gap: 120px;
}


/* FLEXBOX */
.d_flex {
	display: flex;
}

.flex_column {
	flex-flow: column;
}

.flex_al_center {
	align-items: center;
}


/* POSITION */
.p_abs {
	position: absolute;
}

.p_fix {
	position: fixed;
}

.p_rel {
	position: relative;
}

.p_stk {
	position: sticky;
}





/* MENU */
#menuDiv {
	width: 20%;
	left: -18%;
	border-right: var(--bd_double);
	background: var(--white1);
	transition: left 0.4s;
	z-index: 10;
}

#menuDiv.active {
	left: 0;
}

#menuContent {
	justify-content: start;
	font-size: 1.3em;
	line-height: 1em;
	overflow: scroll;
}

#menuContent ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menuContent #menuMDBlock {
	margin: auto;
}

#menuToggle {
	top: 0;
	right: 0;
	cursor: pointer;
	font-size: 1.4em;
	padding: 2%;
}





/* INDEX */
/* INDEX MAP */
#indexMap {
	border-bottom: var(--bd_double);
}

#indexMapElm {
	width:100%;
	min-height: 100vh;
	position: sticky;
	top: 0;
}

.maplibregl-popup-tip, .mapboxgl-popup-tip {
	display: none;
}

.indexMapStep {
	height: 2000px;
}


/* INDEX MAP POPUPS */
.indexPopup {
	font-size: 2.5em;
}

.indexPopup > .maplibregl-popup-content,
.indexPopup > .mapboxgl-popup-content {
	padding: 30px;
	border-radius: 0;
	box-shadow: none;
	color: var(--black);
	text-align: center;
}

.indexPopup_main img {
	max-width: 900px;
	position: absolute;
	transform: translate(-50%, -36%);
	z-index: -1;
}

.indexPopup_sub img {
	max-width: 900px;
	position: absolute;
	transform: translate(-50%, -25%);
	z-index: -1;
}

.bg_transparent > .maplibregl-popup-content,
.bg_transparent > .mapboxgl-popup-content {
	background: var(--transparent);
}

.bg_white > .maplibregl-popup-content,
.bg_white > .mapboxgl-popup-content {
	background: var(--white2);
}

.bg_red > .maplibregl-popup-content,
.bg_red > .mapboxgl-popup-content {
	background: var(--red1);
}

.bg_blue > .maplibregl-popup-content,
.bg_blue > .mapboxgl-popup-content {
	background: var(--blue1);
}

.bg_yellow > .maplibregl-popup-content,
.bg_yellow > .mapboxgl-popup-content {
	background: var(--yellow1);
}

.bg_green > .maplibregl-popup-content,
.bg_green > .mapboxgl-popup-content {
	background: var(--green1);
}


@keyframes upDown {
	0% { transform: translateY(10px); }
	100% { transform: translateY(-10px); }
}

#scrollAnim {
	bottom: 45px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 10;
	animation: upDown 1s infinite alternate;
}

#scrollAnim.hidden {
	display: none;
}


/* INDEX ABOUT */
#indexAbout {
	padding: 2% 0 2% 5%;
	font-size: 1.3em;
}





/* SECTIONS */
/* CONTENT */
#sectionContent {
	height: 100vh;
	padding: 0 0 0 5%;
	font-size: 1.3em;
	background: var(--white1);
	overflow: hidden;
}






/* INTRO */
#introTexto {
	padding: 60% 0 20% 0;
}

#introTituloH1 {
	position: sticky;
	top: 0;
	margin: 0;
}

.introTituloStep {
	height: 1000px;
}





/* FRAGMENTOS */
#seleccionTexto, #seleccionCategorias, #fragmentos {
	padding: 0 0 10% 0;
}

#seleccionTexto {
	margin-top: 25px;
}

#fieldCategorias div, legend {
	padding-bottom: 15px;
}

#fragmentos {
	gap: 15px;
}

.fragmento {
	padding: 10px;
	border: var(--bd_doubleSimple);
}

.cita_animales {
	background-color: var(--blue1);
}

.cita_otra {
	background-color: var(--red1);
}

#miniMap {
	position: fixed;
	top: 0;
	right: 0;
	width: 96px;
	height: 100%;
	z-index: 100;
}





/* ESTILOS DE TEXTO */
select, legend, label, button,
dialog :is(h1, h2),
#menuDiv,
.indexPopup,
#indexAbout :is(h1, h2),
#sectionContent :is(h1, h2) {
	font-family: 'cormorant-up';
}

dialog :is(p, ol, ul),
#indexAbout :is(a, p),
#sectionContent :is(a, p, mark, ol, ul),
.fragmento {
	font-family: 'cormorant';
}

#indexAbout h1,
#sectionContent h1 {
	margin-top: 0;
	font-size: 2.5em;
}





/* RESPONSIVE */
/* MOBILE */
@media only screen and (max-width: 480px) {
	.izq, .der {
		padding: 0 0 30px 0;
	}


	/* MENU */
	#menuDiv {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 9fr 0.5fr;
		width: 100%;
		top: -94%;
		left: 0;
		border-right: none;
		border-bottom: var(--bd_solid);
		transition: top 0.4s;
	}

	#menuDiv.active {
		top: 0;
	}

	#menuContent {
		height: unset;
		font-size: 1.2em;
	}

	#menuToggle {
		position: unset;
		top: unset;
		right: unset;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}




	/* INDEX */
	.indexMapStep {
		height: 1000px;
	}

	.indexPopup > .maplibregl-popup-content,
	.indexPopup > .mapboxgl-popup-content {
		padding: 15px;
		box-shadow: none;
		color: var(--black);
		text-align: center;
	}

	.indexPopup 	 {
		font-size: 1.7em;
	}

	.indexPopup_main img {
		max-width: 140vw
		transform: translate(-50%, -30%);
	}

	.indexPopup_sub img {
		max-width: 140vw;
		transform: translate(-50%, -20%);
	}


	/* INDEX INFO */
	#indexAbout {
		grid-template-columns: 1fr;
		padding: 2% 5%;
	}





	/* SECTIONS */
	#sectionContent {
		height: unset;
		grid-template-columns: 1fr;
		padding: 20% 5%;
	}





	/* INTRO */
	#introTexto {
		height: 100vh;
	}





	/* FRAGMENTOS */
	#fragmentos {
		grid-template-columns: 1fr;
	}

	#miniMap {
		display: none;
	}
}