<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Curaduría de Fragmentos</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <script src="./js/libraries/jquery-3.6.3.min.js"></script>
  <script src="./js/libraries/filter.js"></script>
  <script type="module" src="./js/libraries/md-block.js"></script>
  <script src="./js/libraries/pagemap.min.js"></script>
</head>
<body>
  <div id="menuDiv" class="h100 p_fix">
    <div id="menuContent" class="h100 d_flex flex_column t_center">
      <md-block id="menuMDBlock" src="./resources/md/menu.md"></md-block>
    </div>
    <div id="menuToggle" class="p_abs">
      <span>
        <b>☰</b>
      </span>
    </div>
  </div>

  <dialog id="instructionsDialog">
    <h2>
      <b>¿Cómo usar esta herramienta?</b>
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <p>
      <ol>
        <li>
          Seleccione el cuerpo de texto que quiera explorar.
        </li>
        <li>
          Filtre los fragmentos seleciconando las categorías que desee.
        </li>
        <li>
          Haga click sobre el nombre del fragmento ir a su ubicación dentro del cuerpo de texto.
        </li>
      </ol>
    </p>
    <button id="closeDialog" value="close">Cerrar</button>
  </dialog>

  <div id="sectionContent" class="w100vw d_grid grid_twoCol_1-3">
    <div id="fragmentosCol1" class="izq padTop30px">
      <img src="./resources/images/title_1.svg" class="w100" style="transform: rotate(180deg);">
      <h1 class="t_center">Curaduría de Fragmentos</h1>
      <img src="./resources/images/title_1.svg" class="w100">
      <p class="t_center">
        <button id="openDialog">¿Cómo usar esta herramienta?</button>
      </p>
      <br>

      <div id="seleccionTexto">
        <fieldset id="fieldTexto">
          <legend><b>Cuerpo de Texto:</b></legend>
          <select name="cuerpoDeTexto" id="cuerpoDeTexto">
            <option value="orinocoIlustrado_1">Orinoco Ilustrado, Vol. 1</option>
            <option value="orinocoIlustrado_2">Orinoco Ilustrado, Vol. 2</option>
            <option value="orinocoIlustrado_3">Orinoco Ilustrado, Vol. 3</option>
          </select>
        </fieldset>
      </div>

      <div id="seleccionCategorias">
        <fieldset id="fieldCategorias" class="d_grid grid_twoCol_1-1">
          <legend><b>Categorías:</b></legend>
        </fieldset>
      </div>

      <div id="fragmentos" class="d_grid grid_oneCol">
        <legend><b>Fragmentos:</b></legend>
      </div>
    </div>

    <div id="fragmentosCol2" class="der padTop30px">
    </div>

    <canvas id='miniMap'></canvas>
  </div>

  <script id="templateFragmentos" type="text/html">
    <div class="fragmento <%= clase %>">
      <div><b><%= link %></b></div>
      Páginas: <%= pags %>
    </div>
  </script>
  <script src="./js/menu.js"></script>
  <script src="./js/fragmentos.js"></script>
</body>
</html>