<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Curaduría de Fragmentos</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <script src="./js/libraries/jquery-3.6.3.min.js"></script>
  <script src="./js/libraries/filter.js"></script>
  <script type="module" src="./js/libraries/md-block.js"></script>
  <script src="./js/libraries/pagemap.min.js"></script>
</head>
<body>
  <div id="menuDiv" class="h100 p_fix">
    <div id="menuContent" class="h100 d_flex flex_column">
      <md-block id="menuMDBlock" src="./resources/md/menu.md"></md-block>
    </div>
    <div id="menuToggle" class="p_abs">
      <span>
        <b>☰</b>
      </span>
    </div>
  </div>

  <div id="sectionContent" class="w100vw d_grid grid_twoCol_1-3">
    <div id="fragmentosCol1" class="izq padTop30px">
      <h1>Curaduría de Fragmentos</h1>
      <p>
        <button id="openDialog">¿Cómo usar esta herramienta?</button>
      </p>
      <br>

      <div id="seleccionTexto">
        <fieldset id="fieldTexto">
          <legend><b>Cuerpo de Texto:</b></legend>
          <select name="cuerpoDeTexto" id="cuerpoDeTexto">
            <option value="orinocoIlustrado_T2_C1">Orinoco Ilustrado T.2 C.1</option>
            <option value="orinocoIlustrado_T2_C2">Orinoco Ilustrado T.2 C.2</option>
          </select>
        </fieldset>
      </div>

      <div id="seleccionCategorias">
        <fieldset id="fieldCategorias" class="d_grid grid_twoCol_1-1">
          <legend><b>Categorías:</b></legend>
        </fieldset>
      </div>

      <div id="fragmentos" class="d_grid grid_oneCol">
        <legend><b>Fragmentos:</b></legend>
      </div>
    </div>

    <div id="fragmentosCol2" class="der padTop30px padBot60px">
    </div>

    <canvas id='miniMap'></canvas>
  </div>

  <dialog id="instructionsDialog">
    <h2>
      <b>¿Cómo usar esta herramienta?</b>
    </h2>
    <p>
      La obra de Gumilla está compuesta por dos tomos. El primer tomo consta de 25 capítulos y el segundo tomo de 27 capítulos, con un total de 580 páginas. Al tratarse de una obra extensa, esta herramienta de exploración ofrece al lector una curaduría de fragmentos a partir de categorías temáticas. La curaduría consiste en la selección y organización de materiales dentro de un marco de interpretación.
    </p>
    <p>
      Para usar esta herramienta seleccione en la columna izquierda el tomo que quiere explorar. Debajo encontrará un listado de categorías para filtrar los fragmentos resaltados en el tomo. Seleccione una o más categorías. Debajo se mostrará un listado de fragmentos de la(s) categoría(s) elegida(s). Cada categoría tiene un color representativo.
    </p>
    <p>
      Para dirigirse al fragmento dentro del tomo, haga clic en el título del fragmento. En la columna derecha donde se encuentra todo el tomo desplegado, podrá ver el fragmento resaltado.
    </p>
    <p>
      A continuación se encuentra una breve explicación de las categorías:
    </p>
    <ul>
      <li>
        <b class="cita_animales active">Animales:</b> la fauna del Orinoco.
      </li>
      <li>
        <b class="cita_riqueza active">Riqueza:</b> descripción de productos, paisajes, cultivos y ganado posibles para producir riqueza.
      </li>
      <li>
        <b class="cita_poblamiento active">Poblamiento:</b> descripción y ubicación de grupos indígenas.
      </li>
      <li>
        <b class="cita_evangelizacion active">Evangelización:</b>
      </li>
      <li>
        <b>Conflicto:</b>
      </li>
      <li>
        <b>Comercio:</b> productos que se comercializaban entre indígenas y con otros imperios.
      </li>
      <li>
        <b>Medicinas:</b>
      </li>
      <li>
        <b>Plantas:</b>
      </li>
      <li>
        <b>Paisaje:</b>
      </li>
      <li>
        <b>Rituales:</b>
      </li>
      <li>
        <b>Mujeres:</b>
      </li>
    </ul>
    <button id="closeDialog" value="close">Cerrar</button>
  </dialog>

  <script id="templateFragmentos" type="text/html">
    <div class="fragmento <%= clase %>">
      <div><b><%= link %></b></div>
      Páginas: <%= pags %>
    </div>
  </script>
  <script src="./js/menu.js"></script>
  <script src="./js/fragmentos.js"></script>
</body>
</html>