<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Curaduría de Fragmentos</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <script src="./js/libraries/jquery-3.6.3.min.js"></script>
  <script src="./js/libraries/filter.js"></script>
  <script type="module" src="./js/libraries/md-block.js"></script>
  <script src="./js/libraries/pagemap.min.js"></script>
</head>
<body>
  <div id="menuDiv" class="h100 p_fix">
    <div id="menuContent" class="h100 d_flex flex_column">
      <md-block id="menuMDBlock" src="./resources/md/menu.md"></md-block>
    </div>
    <div id="menuToggle" class="p_abs">
      <span>
        <b>☰</b>
      </span>
    </div>
  </div>

  <div id="sectionContent" class="w100vw d_grid grid_twoCol_1-3">
    <div id="fragmentosCol1" class="izq padTop30px">
      <h1>Curaduría de Fragmentos</h1>
      <p>
        <button id="openDialog">¿Cómo usar esta herramienta?</button>
      </p>

      <div id="seleccionTexto">
        <fieldset id="fieldTexto">
          <legend><b>Cuerpo de Texto:</b></legend>
          <select name="cuerpoDeTexto" id="cuerpoDeTexto" size="5">
            <optgroup label="El Orinoco Ilustrado T.II">
              <option class="disabledOption" value="orinocoIlustrado_T2_Intro" selected="selected">Introducción</option>
              <option class="disabledOption" class="disabledOption" value="orinocoIlustrado_T2_C1">Capítulo I</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C2">Capítulo II</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C3">Capítulo III</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C4">Capítulo IV</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C5">Capítulo V</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C6">Capítulo VI</option>
              <option value="orinocoIlustrado_T2_C7">Capítulo VII</option>
              <option value="orinocoIlustrado_T2_C8">Capítulo VIII</option>
              <option value="orinocoIlustrado_T2_C9">Capítulo IX</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C10">Capítulo X</option>
              <option value="orinocoIlustrado_T2_C11">Capítulo XI</option>
              <option value="orinocoIlustrado_T2_C12">Capítulo XII</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C13">Capítulo XIII</option>
              <option value="orinocoIlustrado_T2_C14">Capítulo XIV</option>
              <option value="orinocoIlustrado_T2_C15">Capítulo XV</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C16">Capítulo XVI</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C17">Capítulo XVII</option>
              <option value="orinocoIlustrado_T2_C18">Capítulo XVIII</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C19">Capítulo XIX</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C20">Capítulo XX</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C21">Capítulo XXI</option>
              <option value="orinocoIlustrado_T2_C22">Capítulo XXII</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C23">Capítulo XXIII</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C24">Capítulo XXIV</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C25">Capítulo XXV</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C26">Capítulo XXVI</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_C27">Capítulo XXVII</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_Apostrofe">Apóstrofe</option>
              <option class="disabledOption" value="orinocoIlustrado_T2_Indice">Índice</option>
            </optgroup>
          </select>
        </fieldset>
      </div>

      <div id="seleccionCategorias">
        <fieldset id="fieldCategorias" class="d_grid grid_twoCol_1-1">
          <legend><b>Categorías:</b></legend>
        </fieldset>
      </div>

      <div id="fragmentos" class="d_grid grid_oneCol">
        <legend><b>Fragmentos:</b></legend>
      </div>
    </div>

    <div id="fragmentosCol2" class="der padTop30px padBot60px">
    </div>

    <canvas id='miniMap'></canvas>
  </div>

  <dialog id="instructionsDialog">
    <h2>
      <b>¿Cómo usar esta herramienta?</b>
    </h2>
    <p>
      La obra de Gumilla está compuesta por dos tomos. El primer tomo consta de 25 capítulos y el segundo tomo de 27 capítulos, con un total de 580 páginas. Al tratarse de una obra extensa, esta herramienta de exploración ofrece al lector una curaduría de fragmentos a partir de categorías temáticas. La curaduría consiste en la selección y organización de materiales dentro de un marco de interpretación.
    </p>
    <p>
      Para usar esta herramienta seleccione en la columna izquierda el capítulo del tomo que quiere explorar. Debajo encontrará un listado de categorías para filtrar los fragmentos resaltados en el cuerpo de texto. Seleccione una o más categorías. Debajo se mostrará un listado de fragmentos de la(s) categoría(s) elegida(s). Cada categoría tiene un color representativo.
    </p>
    <p>
      Para dirigirse al fragmento dentro del capítulo, haga clic en el título del fragmento. En la columna derecha donde se encuentra todo el capítulo desplegado, podrá ver el fragmento resaltado.
    </p>
    <p>
      A continuación se encuentra una breve explicación de las categorías:
    </p>
    <ul>
      <li>
        <b class="cita_animales active">Animales:</b> la fauna del Orinoco.
      </li>
      <li>
        <b class="cita_riqueza active">Riqueza:</b> descripción de productos, paisajes, cultivos y ganado posibles para producir riqueza.
      </li>
      <li>
        <b class="cita_poblamiento active">Poblamiento:</b> descripción y ubicación de grupos indígenas.
      </li>
      <li>
        <b class="cita_evangelizacion active">Evangelización:</b>
      </li>
      <li>
        <b class="cita_conflicto active">Conflicto:</b>
      </li>
      <li>
        <b class="cita_comercio active">Comercio:</b> productos que se comercializaban entre indígenas y con otros imperios.
      </li>
      <li>
        <b class="cita_medicinas active">Medicinas:</b>
      </li>
      <li>
        <b class="cita_plantas active">Plantas:</b>
      </li>
      <li>
        <b class="cita_paisaje active">Paisaje:</b>
      </li>
      <li>
        <b class="cita_rituales active">Rituales:</b>
      </li>
      <li>
        <b class="cita_mujeres active">Mujeres:</b>
      </li>
    </ul>
    <button id="closeDialog" value="close">Cerrar</button>
  </dialog>

  <script id="templateFragmentos" type="text/html">
    <div class="fragmento <%= clase %>">
      <div><b><%= link %></b></div>
    </div>
  </script>
  <script src="./js/menu.js"></script>
  <script src="./js/fragmentos.js"></script>
</body>
</html>