<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Curaduría de Fragmentos</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <script src="../js/libraries/jquery-3.6.3.min.js"></script>
  <script src="../js/libraries/filter.js"></script>
  <script type="module" src="../js/libraries/md-block.js"></script>
  <script src="../js/libraries/pagemap.min.js"></script>
  <title>Documentos</title>
</head>
<body>
  <div id="sectionMenu">
    <div id="menuContent"></div>
    <div id="menuToggle"><span><b>☰</b></span></div>
  </div>

  <div class="threeCol_1-1-2" id="sectionContent">
    <div class="col_1" id="fragmentosCol1">
      <h1>Curaduría de Fragmentos</h1>
      <h3>Repellat dolorem incidunt qui ut dicta. Sit id optio dolorem asperiores a. Accusantium laboriosam ipsa voluptatem molestias.</h3>
      <p>Architecto earum quos molestias asperiores aut eius sit. Porro atque reiciendis impedit rerum hic facere. Voluptatem qui quis quos autem voluptatem et qui. Alias velit aut perferendis ad. Temporibus aut dignissimos autem est. At provident et ut beatae.</p>
    </div>

    <div class="col_1" id="fragmentosCol2">
      <div id="controlFragmentos">
        <fieldset id="categoriaFragmentos">
          <legend>Categorías</legend>
        </fieldset>
      </div>
      <div id="fragmentos"></div>
    </div>

    <div class="col_2" id="fragmentosCol3">
      <md-block id="orinocoIlustrado" src="../resources/md/gumilla.md"></md-block>
      <canvas id='miniMap'></canvas>
    </div>
  </div>

  <script id="templateFragmentos" type="text/html">
    <div class="fragmento">
      <div class="cita"><b><%= link %></b></div>
      Páginas: <%= pags %>
    </div>
  </script>
  <script src="../js/menu.js"></script>
  <script src="../js/fragmentos.js"></script>
</body>
</html>