<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <script src="../js/libraries/jquery-3.6.3.min.js"></script>
  <script src="../js/libraries/filter.js"></script>
  <title>Documentos</title>
</head>
<body>
  <div id="sectionMenu">
    <div id="menuContent"></div>
    <div id="menuToggle"><span><b>☰</b></span></div>
  </div>
  <div id="sectionContent">
    <div id="leftColumn">
      <h1>Curaduría de Fragmentos</h1>
      <h3>Repellat dolorem incidunt qui ut dicta. Sit id optio dolorem asperiores a. Accusantium laboriosam ipsa voluptatem molestias.</h3>
      <p>Architecto earum quos molestias asperiores aut eius sit. Porro atque reiciendis impedit rerum hic facere. Voluptatem qui quis quos autem voluptatem et qui. Alias velit aut perferendis ad. Temporibus aut dignissimos autem est. At provident et ut beatae.</p>
      <div id="controlFragmentos">
        <fieldset id="tagsFragmentos">
          <legend>Tags</legend>
        </fieldset>
      </div>
      <a href="#cita1">CITA 1</a>
    </div>
    <div id="rightColumn">
      <div id="fragmentos"></div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra nam libero justo laoreet sit amet cursus sit amet. Volutpat blandit aliquam etiam erat velit scelerisque in dictum. Potenti nullam ac tortor vitae purus faucibus ornare. Arcu felis bibendum ut tristique et egestas quis ipsum suspendisse. Auctor elit sed vulputate mi sit amet mauris commodo quis. Rhoncus dolor purus non enim praesent elementum facilisis leo. Sit amet nulla facilisi morbi tempus iaculis urna id volutpat. Fermentum et sollicitudin ac orci phasellus egestas tellus. Morbi tincidunt ornare massa eget egestas purus. Vel fringilla est ullamcorper eget nulla facilisi. A cras semper auctor neque vitae tempus quam. In nulla posuere sollicitudin aliquam ultrices sagittis orci a. Purus semper eget duis at tellus.
      <br><br>
      Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Diam volutpat commodo sed egestas egestas. Duis ut diam quam nulla porttitor. Ante in nibh mauris cursus. Ultrices tincidunt arcu non sodales. Sagittis nisl rhoncus mattis rhoncus urna. Nibh venenatis cras sed felis eget velit. Ullamcorper sit amet risus nullam eget felis. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Sem et tortor consequat id porta nibh venenatis. Nulla malesuada pellentesque elit eget gravida cum sociis natoque. Nisl pretium fusce id velit ut. Semper quis lectus nulla at volutpat diam ut venenatis tellus. Quis eleifend quam adipiscing vitae proin sagittis nisl. Lectus sit amet est placerat in. Odio aenean sed adipiscing diam. Eu ultrices vitae auctor eu augue. Quis lectus nulla at volutpat diam. Nisi vitae suscipit tellus mauris.
<br><br>
      Laoreet non curabitur gravida arcu ac. Amet nisl suscipit adipiscing bibendum est. Scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis. Dolor sit amet consectetur adipiscing elit ut aliquam purus. Sed cras ornare arcu dui vivamus. Malesuada fames ac turpis egestas. Habitant morbi tristique senectus et netus et malesuada fames ac. Ac tincidunt vitae semper quis lectus nulla at volutpat. Eu volutpat odio facilisis mauris sit. Tortor pretium viverra suspendisse potenti nullam. Enim ut tellus elementum sagittis vitae et leo. Odio morbi quis commodo odio. Viverra maecenas accumsan lacus vel. Blandit cursus risus at ultrices.
<br><br>
      Volutpat commodo sed egestas egestas fringilla. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Donec enim diam vulputate ut. Tincidunt vitae semper quis lectus nulla at volutpat diam. Laoreet sit amet cursus sit amet dictum sit. Integer malesuada nunc vel risus commodo viverra maecenas. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Vel elit scelerisque mauris pellentesque pulvinar. Nibh ipsum consequat nisl vel pretium. Ut faucibus pulvinar elementum integer enim. Velit sed ullamcorper morbi tincidunt ornare. Ultricies integer quis auctor elit sed vulputate mi. Condimentum lacinia quis vel eros donec ac odio tempor. Tempus egestas sed sed risus pretium quam vulputate. Mi in nulla posuere sollicitudin. Dui faucibus in ornare quam viverra orci sagittis eu.
<br><br>
      Varius quam quisque id diam vel quam elementum. Est velit egestas dui id ornare arcu odio ut. Purus in mollis nunc sed id semper. Risus commodo viverra maecenas accumsan. In iaculis nunc sed augue. Aliquet sagittis id consectetur purus. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar. Quam quisque id diam vel quam. Enim facilisis gravida neque convallis a cras. Vestibulum lectus mauris ultrices eros in cursus turpis massa. Tellus mauris a diam maecenas. Ridiculus mus mauris vitae ultricies leo. Aenean et tortor at risus viverra adipiscing at in tellus. Vel quam elementum pulvinar etiam.
<br><br>
      Nec ullamcorper sit amet risus nullam. Massa tincidunt dui ut ornare lectus. Quisque id diam vel quam elementum pulvinar etiam non. Amet cursus sit amet dictum sit. Urna porttitor rhoncus dolor purus non enim praesent. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Tempus quam pellentesque nec nam aliquam sem. Vulputate dignissim suspendisse in est. Et ultrices neque ornare aenean. Nibh ipsum consequat nisl vel pretium. Dolor purus non enim praesent elementum facilisis leo. Suscipit adipiscing bibendum est ultricies integer quis auctor. Eu turpis egestas pretium aenean pharetra magna ac placerat. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Cum sociis natoque penatibus et. Non blandit massa enim nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.
<br><br>
      <mark id="cita1">Commodo elit at imperdiet dui accumsan sit. Nulla at volutpat diam ut venenatis tellus. Faucibus et molestie ac feugiat sed lectus. At lectus urna duis convallis. Dignissim cras tincidunt lobortis feugiat vivamus at augue eget. Leo vel fringilla est ullamcorper. At erat pellentesque adipiscing commodo elit at. Neque viverra justo nec ultrices dui sapien. Ullamcorper morbi tincidunt ornare massa eget. Sed ullamcorper morbi tincidunt ornare. Sit amet facilisis magna etiam tempor orci eu. Netus et malesuada fames ac turpis egestas. Mollis aliquam ut porttitor leo a diam sollicitudin tempor id.</mark>
      <br>
<br>
      Nisl vel pretium lectus quam id. Eu scelerisque felis imperdiet proin fermentum leo vel orci. Bibendum at varius vel pharetra vel turpis. Urna condimentum mattis pellentesque id nibh tortor id aliquet lectus. Mattis vulputate enim nulla aliquet porttitor lacus luctus. Elementum nibh tellus molestie nunc non blandit. Sed vulputate mi sit amet mauris commodo. Duis at tellus at urna condimentum mattis. Suspendisse interdum consectetur libero id faucibus nisl. Lorem dolor sed viverra ipsum nunc aliquet bibendum. Elementum eu facilisis sed odio morbi quis commodo. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam.
<br><br>
      Congue eu consequat ac felis donec. Vel risus commodo viverra maecenas accumsan lacus vel facilisis. Bibendum at varius vel pharetra vel turpis. Tincidunt dui ut ornare lectus sit amet est. Odio ut enim blandit volutpat maecenas volutpat blandit. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Massa id neque aliquam vestibulum morbi blandit cursus. Curabitur vitae nunc sed velit dignissim. Diam quam nulla porttitor massa id neque aliquam vestibulum. Vitae suscipit tellus mauris a diam maecenas. Risus sed vulputate odio ut enim blandit. Nisi lacus sed viverra tellus in hac habitasse platea dictumst. Fermentum iaculis eu non diam phasellus vestibulum. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Sed odio morbi quis commodo odio aenean sed. Consequat interdum varius sit amet.
<br><br>
      In tellus integer feugiat scelerisque. Blandit cursus risus at ultrices mi tempus. Nunc sed id semper risus in hendrerit. Nisl nisi scelerisque eu ultrices vitae auctor. Quis eleifend quam adipiscing vitae. Felis eget velit aliquet sagittis id. Amet commodo nulla facilisi nullam. Nam at lectus urna duis convallis. Porttitor eget dolor morbi non arcu risus. Sem et tortor consequat id.
    </div>
  </div>
  <script id="templateFragmentos" type="text/html">
    <div class="fragmento">
      <div class="cita"><%= cita %></div>
      <p><b><%= referencia %></b></p>
      <p>Páginas: <%= pagina %></p>
    </div>
  </script>
  <script src="../js/menu.js"></script>
  <!--<script src="../js/fragmentos.js"></script>-->
</body>
</html>